<form action="/shorten" method="post">
   <div class="input-group mb-3">
      <input type="text" id="url" name="url" class="form-control" placeholder="Enter a long URL here (e.g. https://www.google.com)" aria-describedby="basic-addon2">
      <div class="input-group-append">
         <button type="submit" class="btn btn-primary">Shorten Url</button>
      </div>
   </div>
</form>
