<!-- ../partials/header.ejs -->
<% include ../partials/header.ejs %>

<!-- ../partials/nav.ejs -->
<% include ../partials/nav.ejs %>

<div class="container-fluid p-0" style="margin-top: 20px">
   <section class="intro-section p-3 p-lg-5 d-flex d-column" id="intro">
      <div class="jumbotron">
         <!-- ../partials/intro.ejs -->
         <% include ../partials/intro.ejs %>

         <!-- ../forms/shorten-url.ejs -->
         <% include ../forms/shorten-url.ejs %>
      </div>
   </section>
</div>

<!-- ../partials/footer.ejs -->
<% include ../partials/footer.ejs %>
