<h1 class="display-3">REST API to URL Shortener</h1>
<h2 class="display-4">Development Task for node.js</h2>
<p class="lead">Bitly is a simple service for shortening URLs. It accepts long URLs and converts them into short URLs of the form https://bit.ly/2FpwtdM.</p>
<hr class="my-4"/>
